{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Vengadores</h1>
        <p>
            Imagen de los vengadores para probar el contenido
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/1.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}